/* Custom CSS for input boxes */
.form-control {
    background-color: #2a2e3a;
    color: white;
    border: 1px solid #444;
}

.form-control:focus {
    background-color: #2a2e3a;
    color: white;
    border-color: #007bff;
    box-shadow: none;
}

/* Custom CSS for Save button alignment */
.save-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

/* Custom CSS for Tokens section */
.token-label {
    margin-left: auto;
    /* Push the label to the right */
    font-weight: bold;
}

.upgrade-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

/* Custom CSS for version label */
.version-label {
    margin-left: auto;
    /* Push the label to the right */
    font-weight: bold;
    color: #28a745;
    /* Green for Premium, change to #dc3545 for Free */
}

/* Increase the height of the settings modal */
.settings-modal-dialog {
    min-height: 700px;
    /* Adjust this value as needed */
    height: auto;
}

/*
Settings close icon
*/
/* Custom close button styles */
.btn-close-custom {
    background: none;
    /* Remove default background */
    border: none;
    /* Remove border */
    padding: 0;
    /* Remove padding */
    cursor: pointer;
    /* Add pointer cursor */
    opacity: 1;
    /* Ensure it's fully visible */
}

.btn-close-custom svg {
    width: 24px;
    /* Set icon size */
    height: 24px;
    color: white;
    /* Set icon color to white */
    stroke: white;
    /* Ensure the stroke is white */
}

.btn-close-custom:hover svg {
    color: #007bff;
    /* Change color on hover */
    stroke: #007bff;
    /* Change stroke color on hover */
}
@keyframes floatUpDown {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); } /* Moves up */
    100% { transform: translateY(0px); } /* Moves back down */
}

.moving-image {
    animation: floatUpDown 1.5s ease-in-out infinite; /* Reduced duration to 1.5s */
}